@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
}

p {
  color: #fff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
  height: 500px;
  background-color: #97DEFF;
  border-radius: 0px 0px 50% 50%;
  background-image: linear-gradient(#97DEFF, #97DEFF, #2e3744);
}

footer {
  -webkit-clip-path: polygon(0% 20%, 50% 0%, 100% 20%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 20%, 50% 0%, 100% 20%, 100% 100%, 0% 100%);
  width: 100%;
  height: 120px;
  background-color: #97DEFF;
  margin-top: 40px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-top: 20px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
nav ul li {
  margin: 0px 10px;
  font-size: 25px;
  font-weight: 500;
}
nav ul li a {
  color: #000;
}
nav ul li a:hover {
  color: #2541B2;
}

.center-home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 82%;
  height: 80%;
}

#author-picture {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-color: blue;
}

#name-container h1 {
  font-size: 30px;
}
#name-container h2 {
  font-size: 25px;
}
#name-container .icon {
  font-size: 12px;
}

.title {
  font-size: 20px;
  width: 80%;
  margin: 10px auto;
}
.title h2 {
  color: #fff;
  font-size: 40px;
}
.title h1 {
  color: #97DEFF;
  font-size: 40px;
}

.responsive-contact {
  display: none;
}

.center {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.hr, .hr2 {
  width: 30%;
  height: 3px;
  background-color: #3C486B;
  background-image: linear-gradient(to right, #3C486B, #fff);
  margin-bottom: 15px;
}

.big-letters {
  font-size: 40px;
}

.vl {
  display: none;
  height: 450px;
  width: 8px;
  background-color: #000;
  border-radius: 10px;
}

.box {
  border-radius: 15px;
  outline: 1px solid #2541B2;
  width: 45%;
  height: 380px;
  padding: 13px;
}
.box p {
  text-align: justify;
  font-size: 19px;
}

#background {
  border-radius: 10px;
  background-color: #2e3744;
  width: 100%;
  height: auto;
}

#skills-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.skills-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.skills-box h1 {
  color: #fff;
}

.hr2 {
  background-image: linear-gradient(to right, #97DEFF, #2e3744);
}

.skill {
  width: 220px;
  height: 220px;
  margin: 15px;
  background-color: #97DEFF;
  border-radius: 50%;
  position: relative;
}
.skill h1 {
  color: #fff;
}

.percentage, .percentage50, .percentage70, .percentage55, .percentage90, .percentage85 {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: #3C486B;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.percentage p, .percentage50 p, .percentage70 p, .percentage55 p, .percentage90 p, .percentage85 p {
  text-align: center;
  font-size: 40px;
  color: #fff;
}

.percentage85 {
  width: 85%;
  height: 85%;
}

.percentage90 {
  width: 90%;
  height: 90%;
}

.percentage55 {
  width: 55%;
  height: 55%;
}

.percentage70 {
  width: 70%;
  height: 70%;
}

.percentage50 {
  width: 50%;
  height: 50%;
}

.project-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.project {
  border-radius: 10px;
  width: 480px;
  height: 270px;
  margin: 15px;
  background-color: black;
}

.services-responsive {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.service-box {
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 10px;
  width: 45%;
  height: 350px;
}
.service-box p {
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.res {
  display: none;
}

.icon-hold {
  text-align: center;
  margin: 0px auto;
}
.icon-hold i {
  font-size: 80px;
}

.small-title {
  text-align: center;
  font-size: 20px;
  width: 100%;
  height: auto;
  margin: 10px 0px;
  color: #97DEFF;
}

#contact-responsive {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#contact-text-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 35%;
  height: 420px;
}
#contact-text-container p {
  text-align: center;
  font-size: 20px;
  color: #000;
  margin-left: 20px;
}
#contact-text-container div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.contact-icon {
  font-size: 40px;
  color: #000;
}

#form {
  width: 50%;
  height: 420px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn input {
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  background-color: #97DEFF;
  border: none;
  height: 50px;
  width: 100px;
}

.text-form input {
  border-radius: 7px;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  font-size: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

textarea {
  border-radius: 7px;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 15px;
  /* border: none; */
  resize: none;
}

.test {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.test2 {
  width: 130px;
  height: 130px;
  background-color: red;
}/*# sourceMappingURL=style.css.map */