$plava-boja:#97DEFF;
$tamno-plava:#3C486B;
$tamnija-plava: #2541B2;
$pozadina:#2e3744;
$border-radius:50%;
$title-size: 20px !default; 
$hr-width:100px;
$border-thickness:2px;
$wrap:wrap;
$jc-content:center;
$align-items:center;
$font-size:20px;